@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* cursor: none; */
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --cursor-size: 28px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #e6e6e1;
}
.nav_logo{
  @apply font-bold text-lg 
}
.hero_section{
  font-weight: 500;
  @apply font-mono font-bold text-center w-full flex flex-col  justify-center
}
.hero_title{
  @apply md:text-2xl sm:text-base text-8xl 
}

.page-wrap {
  background: var(--bg);
  min-height: 100vh;
}
.cursor{

  position: fixed;

  width: 15px;

  height: 15px;

  background-color: rgb(181, 0, 0);

  border-radius: 50%;

  pointer-events: none;
}

.about_section{
  height: 100vh;
  
}



.nav_link{
  display:inline
}
.linkedin_svg {
  border-radius: 70%; /* Adjust the percentage for desired roundness */
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
}
h1 {
  
  /* color: white; */
  text-shadow: 4px 4px 4px rgb(255, 255, 255); /* Adjust these values for desired effect */
  font-family: Arial, sans-serif;
  font-size: 130px; /* Choose your preferred font */
  padding: 0;
  margin: 00;
  /* background-color: black; */
  @apply text-emerald-950
}
.hero_span{
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  background-color: yellow;
  right: 22%;
  top: 46%;
  font-size: 18px;
  transform: rotate(-17deg);
}